@import '../../styles/Section.module.css';

.CardContainer {
  padding: 0.6em;
  border-radius: 6px;
  margin-top: 6px;
  background-color: var(--background);
}

.CardLabel {
  text-align: center;
  text-align: left;
}

.CardLabelText {
  font-size: 0.8em;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.CardCode {
  font-size: 0.8em;
  overflow: auto;
  font-weight: 500;
  padding: 4px;
  background-color: #ffffff;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
