.Container {
  padding: 0.6em;
  border-radius: 6px;
  margin-top: 6px;
  /*  TODO responsible widht  */
  max-width: 280px;
  background-color: var(--background);
}

.Container img {
  width: 100%;
  max-width: min-content;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  max-height: 280px;
  object-fit: cover;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ActionButtonDelete {
  float: right;
  text-align: right;
}

.AvatarContainer {
  display: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.AvatarContainer img {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.ActionButtonDelete svg:hover {
  background-color: grey;
}

.MenuContainer {
  height: 2em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.ItemFooter {
  display: flex;
  text-rendering: auto;
}

.TagsContainer {
  display: flex;
  width: 50%;
}

.LikesContainer {
  width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
}

.LikeCount {
  display: flex;
  font-size: 0.6em;
  width: 1em;
  padding-left: 0.4em;
  text-align: center;
}

.DateContainer {
  display: flex;
  width: 100%;
  font-size: 0.6em;
}

.CommentItemDate {
  display: flex;
}

.ContentBody {
  composes: TextBase from '../../../styles/text.css';
  text-align: center;
}

.ContentBody p {
  font-size: 14px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.8;
  word-wrap: break-word;
}

.ContentBody h1 {
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ContentBody h2 {
  font-size: 1.2em;
  padding-top: 24px;
  padding-bottom: 20px;
}

.ContentBody h3 {
  font-size: 1em;
  padding-top: 16px;
  padding-bottom: 10px;
  color: var(--titletext);
}

.ContentBody strong {
}

.ContentBody blockquote {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-left: 0.25em solid #e52e71;
  margin: 0 auto;
  margin-bottom: 1em;
}

.ContentBody a {
  word-break: break-all;
}

.ContentBody ol {
  font-size: 14px;
}

.ContentBody li {
  font-size: 14px;
}

.ContentBody img {
  border-radius: 2px;
}

.ContentBody h1 {
  font-weight: 200;
}
.ContentBody h2 {
  font-weight: 200;
}
.ContentBody h3 {
  font-weight: 200;
}

.ContentBody code {
  font-weight: 100;
  font-size: 12px;
}

.ContentBody input {
  padding: 12px 12px;
  margin: 6px 6px;
}

.ButtonContainer {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 1em 1em;
}

.ButtonContainer svg {
  margin: 0 auto;
  text-align: center;
}

.InputContainer {
  padding: 12px 12px;
  margin: 6px 6px;
}

.InputContainer input {
  border-radius: 4px;
}
