:root {
  --border: rgb(0 0 0 / 20%);
  --shadow: #000;
  --heading: black;
  --main: red;
  --text: #333;
  --titletext: #000;
  --textAlt: #fff;
  --inactive: rgb(0 0 0 / 30%);
  --background: white;
  --link: grey;
  --btn: rgb(0 0 0 / 54%);
  --btnbackground: lightgrey;
  --signBtnBackground: white;
  --codeblockboarder: #ddd;
  --codeblockbackground: #f5f5f5;
  --inputbackground: #fff;
  --inputborder: lightgrey;
  --inputtext: #000;
  --editableborderr: black;
  --editablebackground: #fff;
  --tweethover: #f5f5f5;
  --section: white;
  --sectionborder: #e7eef5;
  --navborder: #e7eef5;
  --hintbackground: lightgrey;
  --containerborder: #f5f5f5;
  --avatarborder: #eee;
  --heatgraphBackground: #fff;
  --heatgraphBackgroundGradientFrom: #fff;
  --heatgraphBackgroundGradientTo: #fff;
  --loadingIcon: #000;
  --composeBtn: rgb(231 76 60 / 100%);
  --deleteBtn: rgb(231 76 60 / 100%);
  --cardbackground: #f6f8fa;
  --activetext: black;
  --nonactivetext: darkgrey;
  --danger: darkred;
  --datecardbackground: #eee;
}

[data-theme="dark"] {
  --border: rgb(255 255 255 / 10%);
  --shadow: #000;
  --heading: grey;
  --main: #79248f;
  --text: lightgrey;
  --titletext: #fff;
  --textAlt: #fff;
  --inactive: rgb(255 255 255 / 30%);
  --background: #121212;
  --link: lightgrey;
  --btn: lightgrey;
  --btnbackground: grey;
  --signBtnBackground: black;
  --codeblockboarder: transparent;
  --codeblockbackground: black;
  --inputbackground: #202020;
  --inputborder: transparent;
  --inputtext: lightgrey;
  --editableborder: grey;
  --editablebackground: #000;
  --tweethover: black;
  --section: #222;
  --sectionborder: transparent;
  --navborder: grey;
  --hintbackground: grey;
  --containerborder: transparent;
  --avatarborder: black;
  --heatgraphBackground: #121212;
  --heatgraphBackgroundGradientFrom: #121212;
  --heatgraphBackgroundGradientTo: #121212;
  --loadingIcon: #fff;
  --composeBtn: rgb(231 76 60 / 100%);
  --deleteBtn: rgb(231 76 60 / 100%);
  --cardbackground: black;
  --activetext: white;
  --nonactivetext: grey;
  --danger: darkred;
  --datecardbackground: black;
}
